<mat-card> Casillero No. {{locker.id}}
    <mat-card-header>
      <div mat-card-avatar>
        <mat-icon >person</mat-icon>
      </div>
      <table>
        <caption>www.micasillero.com</caption>
        <tr>
            <th>Información</th>
        </tr>
        <tr>
           <td>  Cliente:  </td>
           <div [hidden] = 'flagfree'>
              <td>{{locker.nombre}}</td> 
            </div>
            <input
            [hidden] = '!flagfree'
            [(ngModel)]="locker.nombre"
            >
        </tr>
        <tr>
            <td>  Tel:  </td>
            <div [hidden] = 'flagfree'>
              <td>{{locker.telefono}}</td> 
            </div>
            <input
            [hidden] = '!flagfree'
            [(ngModel)]="locker.telefono"
            >
        </tr>
        <tr>
            <td>  Placa:  </td>
              <div [hidden] = 'flagfree'>
                <td>{{locker.placa}}</td>
              </div>
              <input
              [hidden] = '!flagfree'
              [(ngModel)]="locker.placa"
              >
        </tr>
        <tr>
            <td>  Ingreso:  </td>
            <td>{{locker.ingreso}}</td>
        </tr>
        <tr>
            <td>  Tiempo:  </td>
            <td>{{minutos}} Minutos</td>
        </tr>
        <tr>
            <td>  Valor:  </td>
            <td>${{cobro}}</td>
        </tr>
      </table>
      <mat-card-title>
      </mat-card-title>
    </mat-card-header>
    <div mat-card-image></div>
    <mat-card-content>
    </mat-card-content>
    <mat-card-actions >
      <button
        mat-button
        class="boton1"
      (click)="closeModal()"
        >
      <mat-icon >payment</mat-icon>
    </button>
    </mat-card-actions>
  </mat-card>