.content {
    padding: 16px;
    align-items: center;
}

.content > mat-cart {
    width: 200px;
}

.mat-card-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}