.tarjeta{
    width: 7rem !important;
    padding-top: 5%;
}

.forma {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.boton1 {
    background-color: #1ba1b8;
    width: 110%
}

.card1 {
    width: 100%
}

.tabp {
    overflow-x: hidden;
}

@media screen and (max-width: 400px) {
    .tarjeta{
        width: 7rem !important;
        padding-top: 2%;
    }

    .forma {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}