<mat-tab-group>
  <mat-tab label="Casilleros Secillos" class="tabp">
    <div>
      <mat-chip-list aria-label="Fish selection">
        <mat-chip color="primary" selected
                  *ngFor="let item of typeLocker | filterLockerByType:'tipo':'sencillo'; let i = index">
          <mat-icon>person</mat-icon>
          Total Casilleros {{item.cantidad}} Valor por Hora :
          <mat-icon> attach_money</mat-icon>
          {{item.valorHora}}
        </mat-chip>
      </mat-chip-list>
    </div>

    <div class="content">
      <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <div fxFlex="10%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let x of sencillos; let i = index">
          <mat-card 
            class="mat-elevation-z4"
            [ngStyle]="{'background-color':x.estado === 'libre' ? 'gray' : 'red' }"
            >No. {{x.id}}
            <mat-card-header>
              {{x.nombre}}
              <div mat-card-avatar>
                <mat-icon *ngIf="x.estado === 'ocupado'">person</mat-icon>
                {{x.placa}}
              </div>
        
            </mat-card-header>
            
            <div mat-card-image>              
            </div>
            <mat-card-content>
            
            </mat-card-content>
            <mat-card-actions>
              <button
                mat-button
                (click)="onCollect(x,'sencillos')"
              >
                <mat-icon *ngIf="x.estado === 'ocupado'">payment</mat-icon>
                <mat-icon *ngIf="x.estado !== 'ocupado'">pan_tool</mat-icon>
              </button>
              <span>
                {{x.estado}}
              </span>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Casilleros Dobles">
    <div>
      <mat-chip-list aria-label="Fish selection">
        <mat-chip color="primary" selected
                  *ngFor="let item of typeLocker | filterLockerByType:'tipo':'doble'; let i = index">
          <mat-icon>people</mat-icon>
          Total Casilleros {{item.cantidad}} Valor por Hora :
          <mat-icon> attach_money</mat-icon>
          {{item.valorHora}}
        </mat-chip>
      </mat-chip-list>
    </div>

    <div class="content">
      <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <div fxFlex="10%" fxFlex.xs="100%" fxFlex.sm="33%"  *ngFor="let x of dobles; let i = index">
          <mat-card
            class="mat-elevation-z4"
            [ngStyle]="{'background-color':x.estado === 'libre' ? 'gray' : 'red' }"
          >No. {{x.id}}
            <mat-card-header>
              <div mat-card-avatar>
                <mat-icon *ngIf="x.estado === 'ocupado'">people</mat-icon>
                {{x.placa}}
              </div>
              <mat-card-title></mat-card-title>
            </mat-card-header>
            <div mat-card-image></div>
            <mat-card-content>
            </mat-card-content>
            <mat-card-actions>
              <button
                mat-button
                (click)="onCollect(x,'dobles')"
              >
                <mat-icon *ngIf="x.estado === 'ocupado'">payment</mat-icon>
                <mat-icon *ngIf="x.estado !== 'ocupado'">pan_tool</mat-icon>
              </button>
              <span>
                {{x.estado}}
              </span>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
